primaryFont = 'Raleway', san-sarif 
size = 3vw
weight = 500
radius = 50%

body
  background tomato

.title
  color whitesmoke
  font-family primaryFont 
  text-align center
  text-decoration underline

 h1
  font-weight weight
  font-size size

h2
  font-size 2vw

.container 
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items center

.odd, .even
  height 200px
  width 200px
  border 2px solid @color
  border-radius radius
  color whitesmoke
  font-family primaryFont
  font-size size
  text-align center

.odd
  background-color black

.even
  background-color rebeccapurple

span
  height 100px
  line-height 200px
  white-space nowrap

.icon
  display flex
  align-items center
  flex-direction column
  margin-top 2vh

.center 
  margin-top 3vh
  border-radius radius

#arrow
  font-size 6vh

.walter
  font-family primaryFont
  font-size 3vh
  